
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right,#d1d6d8 ,#900000);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
fieldset{
    border: 0ch;
}
.form {
    margin-right: 30px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 600px;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
}
.titulo{
    margin-left: 85px;
    color: #4e4e4e;
}
.subtitulo{
    margin-left: 105px;
    padding: 5px;
}
.campo{
    height: 30px;
    padding: 2px;
}
.sobrenome, .nome, .email{
    padding: 5px;
    margin-left: auto;
    height: 36px;
}
.genero{
    margin-left: 270px;
    margin-top: -30px;
}
#grupo{
    margin-left: 40px;
    padding: 15px;
    height: 50px;
    width: 340px;
}
.texto{
    position: absolute;
}
.botao{
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4e4e4e;
    border: 1px solid #e0e0e000;
    width: 160px;
    text-align: center;
    padding: 18px;
    color: #ebe3e3;
    border-radius: 8px;
    margin-left: 140px;
    margin-top: 150px;
    transition: all 2s;
}
.botao:hover{
    background-color: #900000;
}
#estado, #genero{
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
    width: 90px;
    border-radius: 10px;
    height: 30px;
    border: 0.5px solid;
    margin-top: 20px;
}
input#nome, #Sobrenome, #email, #Telefone{
    border: 0;
    border-bottom: 1px solid #4e4e4e;
    height: 20px;
    outline: 0;
    background-color: #ddd;
    margin-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
}
.img{
    width: 500px;
}
.area{
    margin-left: 95px;
    height: 30px;
}
textarea{
    margin-left: 22px;
    width: 400px;
    height: 100px;
    margin-top: 390px;
}
.text{
    margin-top: 50px;
    margin-left: 50px;
}
.texto{
    width: 100px;
    height: 100px;
}